body {
    background-color: blueviolet;
background-image: url(https://t4.ftcdn.net/jpg/04/97/13/03/360_F_497130383_EmbPUgbJd9Jqjqpa96E0eyzH6TMIf8NE.jpg);
background-repeat: no-repeat;
background-size: cover;


}